$body-color: rgb(242,242,242);
$background-color: rgb(250,250,250);
$green: #4d96a9;
$purple: #855fb1;
$purple-hover: #B18BDD;
$dark: #28283d;
$gray: #87879d;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$green-hover: #71C0D4;
$green-gradient: linear-gradient(rgba($green, .85), rgba($green, .85))