$green: #4d96a9;
$purple: #855fb1;
$dark: #28283d;
$gray: #87879d;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$green-gradient: linear-gradient(rgba($green, .85), rgba($green, .85))