@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0 auto;
}

button {
  font-weight: bold;
  cursor: pointer;
  height: 54px;
  font-size: 16px;
  line-height: 26px;
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
  color: white;
}
button.primary {
  padding: 0 40px;
  background-color: #4d96a9;
}
button.primary span {
  color: #8fe3f9;
}
button.secondary {
  padding: 0 30px;
  background-color: #855fb1;
  margin-top: 16px;
}

.pcontent {
  border: 1px solid black;
  text-align: center;
}
.pcontent__logo {
  display: flex;
}
.pcontent__logo img {
  margin: 0 auto;
}
.pcontent__image {
  margin: 54px 0 48px 0;
}
.pcontent__image img {
  width: 100%;
}
.pcontent__title {
  color: #28283d;
}
.pcontent__title h1 {
  font-size: 40px;
  line-height: 44px;
}
.pcontent__subtitle {
  color: #87879d;
  margin: 24px 24px 32px 24px;
}
.pcontent__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scontent {
  border: 1px solid black;
}
.scontent__photos {
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.scontent__photos img {
  width: 151px;
  height: 143px;
  border-radius: 10px;
  margin-bottom: 24px;
}
.scontent__details {
  text-align: center;
}
.scontent__details h2 {
  color: #28283d;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}
.scontent__details .highlight {
  color: #4d96a9;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
}
.scontent__details p {
  margin: 25px 0 0 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #87879d;
  padding: 0 28px;
}

.footer {
  text-align: center;
  border: 1px solid black;
  height: 428px;
  background: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url("./../images/mobile/image-footer.jpg");
  background-size: cover;
}
.footer__title {
  padding-top: 92px;
}
.footer__title h2 {
  margin: 0;
  padding: 0;
  color: #fafafa;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}
.footer__subtitle {
  padding-top: 10px;
}
.footer__subtitle p {
  color: #fafafa;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding: 0 28px;
}
.footer .primary {
  padding: 0 30px;
  background-color: #855fb1;
  margin-top: 16px;
}

.separator {
  margin: 64px 0;
  color: #87879d;
}
.separator__circle {
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-color: rgba(135, 135, 157, 0.25);
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
.separator__circle div {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}
.separator__line {
  width: 1px;
  background-color: rgba(135, 135, 157, 0.25);
  height: 75px;
  margin: 0 auto;
}

/*# sourceMappingURL=output.css.map */
