@import "./colors";
@import "./typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 48px auto 0 auto;
}

.btn {
  cursor: pointer;
  height: 54px;
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
  color: $white;
  &--primary {
    padding: 0 40px;
    background-color: $green;
    span {
      color: $light-blue;
    }

    &:hover {
      background-color: $green-hover;
    }
  }
  &--secondary {
    padding: 0 30px;
    background-color: $purple;
    margin-top: 16px;
    span {
      color: $light-purple;
    }

    &:hover {
      background-color: $purple-hover;
    }
  }
}

.pcontent {
  &__logo {
    display: flex;
    img {
      margin: 0 auto;
    }
  }
  &__image {
    margin: 54px 0 48px 0;
    img {
      width: 100%;
    }
  }
  &__title {
    color: $dark;
  }
  &__subtitle {
    color: $gray;
    margin: 24px 24px 32px 24px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.scontent {
  &__photos {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
      width: 151px;
      height: 143px;
      border-radius: 10px;
      margin-bottom: 24px;
    }
  }
  &__details {
    h2 {
      color: $dark;
    }
    .highlight {
      color: $green;
      line-height: 26px;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-top: 40px;
      font-weight: bold;
    }
    p {
      margin: 25px 0 0 0;
      color: $gray;
      padding: 0 28px;
    }
  }
}
.footer {
  margin-top: -89px;
  height: 428px;
  background: $green-gradient, url("./../images/mobile/image-footer.jpg");
  background-size: cover;

  &__title {
    padding-top: 92px;
    h2 {
      margin: 0;
      padding: 0;
      color: $white;
    }
  }

  &__subtitle {
    padding-top: 10px;
    p {
      color: $white;
      padding: 0 28px;
    }
  }
}

.separator {
  z-index: 9;
  margin: 64px 0;
  color: $gray;
  &__circle {
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: $white;
    border-color: rgba($gray, 25%);
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    p {
      width: 100%;
    }
  }

  &__line {
    width: 1px;
    background-color: rgba($gray, 25%);
    height: 75px;
    margin: 0 auto;
  }
}
